<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web GIS</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		#map {
			width: 100%;
			height: 100%;
		}
	</style>
</head>
<body>

<form action="/action_page.php">
  <fieldset>
    <legend>Location</legend>
    <label for="fname">Dia chi cua ban:</label><br>
    <input type="text" id="fname" name="fname" value="124 Khanh Hoi, Phuong 6, Quan 4"><br>
    <input type="submit" value="Submit">
  </fieldset>
</form>
    <div id='map'></div>
    <script src="templates/sample-geojson.js" type="text/javascript"></script>
    <script>
   
    var map = L.map('map').setView([10.738710, 106.616718], 13);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map)

function onEachFeature(feature, layer) {
		var popupContent =  feature.properties.name +", <br> Địa chỉ :  " + feature.properties.Address;
		layer.bindPopup(popupContent);
    }
    


L.geoJSON(hospital, {

    onEachFeature: onEachFeature
}).addTo(map);

var popup = L.popup();

	function onMapClick(e) {
		popup
			.setLatLng(e.latlng)
			.setContent("You clicked the map at " + e.latlng.toString())
			.openOn(map);
	}

	map.on('click', onMapClick);
    </script>
</body>
</html>
